
$body-background-color: #F2F2F2;

$header-background-color: #ffffff;
$lake: #627D77;

$main-color: #6D6E70;
$minor-color: #B0B0B0;

$blue-gradient-left: #3363B7; // gradient saturation is decreased by 20% from the original
$blue-gradient-center: #308BCC; // gradient saturation is decreased by 20% from the original
$blue-gradient-right: #2CB4DD; // gradient saturation is decreased by 20% from the original

$red-gradient-left: #DD2C52; // gradient saturation is decreased by 20% from the original
$red-gradient-right: #FFA02F;

$pink-gradient-left: #7B2D91; // gradient saturation is decreased by 20% from the original
$pink-gradient-right: #DD3EA8; // gradient saturation is decreased by 20% from the original

$green-gradient-left: #17773F; // gradient saturation is decreased by 20% from the original
$green-gradient-center: #76AA3F; // gradient saturation is decreased by 20% from the original
$green-gradient-right: #CDDB30; // gradient saturation is decreased by 20% from the original

